@model MakeUpSeller.Models.IndexPageViewModel

@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/scrollbar-hide.css" />

<div class="container-fluid d-flex flex-row flex-nowrap">
    <div class="p-1 col-4">
        <div class="col-12 card-header p-0">
            <div class="p-2 mb-1 bg-primary text-white"> MakeUp Products</div>
        </div>
        <div class="col-12 border d-flex m-0 p-0 pre-scrollable" style="height: 68vh; max-height: 80vh;">
            <div class="col-12">
                <div class="form-row mb-3">
                    <div class="col-5">
                        <b><label>Products Types<span class="form-required"></span></label></b>
                    </div>

                    <div class="col-4">
                        <b><label>Price <span class="form-required"></span></label></b>
                    </div>
                    <div class="col-3">
                        <b><label>Image <span class="form-required"></span></label></b>
                    </div>
                </div>
                <div class="col-12 cards row p-0">
                    @foreach (Product product in Model.Products)
                    {
                    <div class="col-12 card p-1 mt-1">
                        <div class="col-form-label-sm"></div>
                        <div class="form-row mb-2">
                            <div class="col-5">
                                <label>@product.Name<span class="form-required"></span></label>
                            </div>

                            <div class="col-4">
                                <label>@product.Price RM</label>
                            </div>
                            <div class="col-3">
                                <div class="card-img rounded-circle text-center"> <img class="rounded-circle" src="@product.Image" width="70"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card p-1 mt-1">
                        <a class="btn btn-info w-100" asp-action="AddToOderItem" asp-route-id="@product.Id"><span class="text-white">Add</span></a>
                    </div>
                    <br />
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="p-1 col-4">
        <div class="card-header p-0">
            <div class="p-2 mb-1 bg-primary text-white">  Order Processing</div>
        </div>
        <div class="col-12 p-0">
            <div class="col-12 border" style="height:48vh; max-height:90vh;">
                @foreach (OrderItem item in Model.OrderItems) {
                <div class="col-12 d-flex flex-wrap justify-content-between bg-white border-bottom">
                    <div class="col-8 d-inline"> @item.Name </div>
                    <div class="col-4 d-inline text-right">
                        <span>@item.Price RM</span>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="col-12 row h-25 m-0 p-0">
            <div class="col-6 card p-0">
                <div class="p-2 mb-1 bg-primary text-white"> Total price : <span> @Model.Price RM</span></div>
            </div>
            <div class="col-6 card">
                <p class="text-center">
                    <label>Order Confirm </label>
                    <div class="modal-footer">
                        <a asp-action="Cancel" class="btn btn-danger">Cancel</a>
                        <a asp-action="Confirm" class="btn btn-success">Confirm</a>
                    </div>
            </div>
        </div>
    </div>

    <div class="p-1 col-4">
        <div class="card-header p-0">
            <div class="p-2 mb-1 bg-primary text-white">  Order Completed</div>
        </div>
        <div class="col-12 p-0">
            <div class="col-12 border" style="height:48vh; max-height:90vh;">
                @foreach (var item in Model.Competeds)
                {
                <div class="col-12 d-flex flex-wrap bg-white border-bottom">
                    <div class="col-6 d-inline"> @item.Name </div>
                    <div class="col-3 d-inline"> @item.Price </div>
                    <div class="col-3 d-inline text-right">
                        <a asp-action="RemoveFromComplete" asp-route-id="@item.Id" class="btn btn-info">Remove</a>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-12 row h-25 m-0 p-0">
            <div class="col-6 card p-0">
                <div class="p-2 mb-1 bg-primary text-white"> Total Sold : <span> @Model.Total </span> RM</div>
            </div>
            <div class="col-6 card">
                <p class="text-center">
                    <label>Order Confirm </label>
                    <div class="modal-footer">
                        <a asp-action="ClearAll" class="btn btn-danger">Clear Data</a>
                    </div>
            </div>
        </div>
    </div>

</div>






